<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li class="active"><a href="/#Getting Started">Getting Started</a></li>
    <li class="active"><a href="/#Authentication">Authentication</a></li>
    <li class="active"><a href="/#HSDA Complete">HSDA Complete</a></li>
    <li class="active"><a href="/#HSDA">HSDA</a></li>
    <li class="active"><a href="/#HSDA Search">HSDA Search</a></li>
    <li class="active"><a href="/#HSDA Bulk">HSDA Bulk</a></li>
    <li class="active"><a href="/#HSDA Meta">HSDA Meta</a></li>
    <li class="active"><a href="/#HSDA Taxonomy">HSDA Taxonomy</a></li>
    <li class="active"><a href="/#HSDA Management">HSDA Management</a></li>
    <li class="active"><a href="/#HSDA Utility">HSDA Utility</a></li>
    <li class="active"><a href="/support/">Support</a></li>
    <li class="active"><a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}" target="_blank">Github</a></li>
  </ul>
</nav>
