swagger: '2.0'
info:
  title: "Human Services Data Meta API"
  description: "This is a complimentary API to the HSDA API focusing just on meta information."
  termsOfService: "https://openreferral.org/documentation/"
  contact:
    name: Open Referral
    url: https://openreferral.org/
    email: info@openreferral.org
  license:
    name: Open Data Commons Public Domain
    url: http://opendatacommons.org/licenses/pddl/
  version: v1.2
host: hsda.meta.api.adopta.agency
basePath: /
schemes:
  - http
produces:
  - application/json
paths:
  /meta/:
    get:
      summary: Get Meta
      description: Get Meta
      operationId: listMeta
      responses:
        '200':
          description: Item Response
          schema:
            type: array
            items:
              $ref: "#/definitions/meta"
      tags:
      - Meta
    post:
      summary: Add Meta
      description: Add Meta
      operationId: addMeta
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/meta'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Meta Response
          schema:
            type: array
            items:
              $ref: "#/definitions/meta"
      tags:
      - Meta
  /meta/roll-back/:
    get:
      summary: Roll Back Meta
      description: Roll Back Meta - Still working on this one.
      operationId: rollbackMeta
      responses:
        '200':
          description: Rollback Meta Response
          schema:
            type: array
            items:
              $ref: "#/definitions/rollback"
      tags:
      - Meta
  /meta/roll-forward/:
    get:
      summary: Roll Forward Meta
      description: Roll Forward Meta - Still working on this one.
      operationId: rollforwadMeta
      responses:
        '200':
          description: Roll Forward Meta Response
          schema:
            type: array
            items:
              $ref: "#/definitions/rollforward"
      tags:
      - Meta
  /errors/:
    get:
      summary: Rollback Meta
      description: Rollback Meta - Still working on this one.
      operationId: rollbackMeta
      responses:
        '200':
          description: Rollback Meta Response
          schema:
            type: array
            items:
              $ref: "#/definitions/rollback"
      tags:
      - Meta
  /web/logs/:
    get:
      summary: Web Logs
      description: Web Logs - Going to Be Pulling From Apache Web Logs
      operationId: webLogs
      responses:
        '200':
          description: Web Logs Response
          schema:
            type: array
            items:
              $ref: "#/definitions/weblogs"
      tags:
      - Meta
securityDefinitions:
  appid:
    type: apiKey
    in: header
    name: x-appid
  appkey:
    type: apiKey
    in: header
    name: x-appkey
definitions:
  meta:
    properties:
      id:
        description: 'Each entry must have a unique identifier.'
        type: string
      timestamp:
        description: 'The timestamp for entry.'
        type: string
      appid:
        description: 'The appid for entry.'
        type: string
      path:
        description: 'The path for entry.'
        type: string
      verb:
        description: 'The verb for entry.'
        type: string
      parameters:
        description: 'The parameters for entry.'
        type: string
      headers:
        description: 'The header for entry.'
        type: string
      body:
        description: 'The body for entry.'
        type: string
      status:
        description: 'The status of this entry.'
        type: string
    required:
      - id
  rollback:
    properties:
      id:
        description: 'The id for the rollback.'
        type: string
  rollforward:
    properties:
      id:
        description: 'The id for the roll foward.'
        type: string
  errors:
    properties:
      id:
        description: 'The id for the errors.'
        type: string
  weblogs:
    properties:
      id:
        description: 'The id for the web logs.'
        type: string
