swagger: '2.0'
info:
  title: "Human Services Data Utility API"
  description: "This is a complimentary API to the HSDA API focusing just on utility features."
  termsOfService: "https://openreferral.org/documentation/"
  contact:
    name: Open Referral
    url: https://openreferral.org/
    email: info@openreferral.org
  license:
    name: Open Data Commons Public Domain
    url: http://opendatacommons.org/licenses/pddl/
  version: v1.2
host: hsda.utility.api.adopta.agency
basePath: /
schemes:
- http
produces:
- application/json
paths:
  /services/:
    get:
      summary: Services
      description: The services being used across ochestration.
      operationId: getServices
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Services
  /validate/hsda/response/:
    get:
      summary: Validate HSDA Response
      description: Validate HSDA Response
      operationId: valiateHSDAResponse
      responses:
        '200':
          description: Validate HSDA Response
          schema:
            type: array
            items:
              $ref: "#/definitions/validation"
      tags:
      - Validate
  /validate/hsda/openapi/:
    get:
      summary: Validate HSDA OpenAPI
      description: Validate HSDA OpenAPI
      operationId: valiateHSDAOpenAPI
      responses:
        '200':
          description: Validate HSDA OpenAPI Response
          schema:
            type: array
            items:
              $ref: "#/definitions/validation"
      tags:
      - Validate
securityDefinitions:
  appid:
    type: apiKey
    in: header
    name: x-appid
  appkey:
    type: apiKey
    in: header
    name: x-appkey
definitions:
  service:
    properties:
      id:
        description: 'Each entry must have a unique identifier.'
        type: string
    required:
      - id
  validation:
    properties:
      id:
        description: 'Each entry must have a unique identifier.'
        type: string
    required:
      - id
